*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body{
  display: flex;
  padding: 40px;
  overflow: hidden;
}

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 5%;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

h2{
  color: black;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

input:not([type="range"]), textarea{
  border-radius: 5px;
  background: rgb(255 255 255 / 0.5);
  border: none;
  padding: 10px;
}

/* img:hover{
  border: 5px dotted #f0f3bd;
} */
.none{
  display: none !important;
}
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #02c39a , #00a896 , #028090 , #05668d); /* #f0f3bd */
  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgb(255 255 255 / 0.2);
  animation: animate 27s linear infinite;
}

.background li:nth-child(0) {
  left: 8%;
  width: 20px;
  height: 20px;
  bottom: -20px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 9%;
  width: 20px;
  height: 20px;
  bottom: -20px;
  animation-delay: 3s;
}
.background li:nth-child(2) {
  left: 14%;
  width: 85px;
  height: 85px;
  bottom: -85px;
  animation-delay: 2s;
}
.background li:nth-child(3) {
  left: 0%;
  width: 92px;
  height: 92px;
  bottom: -92px;
  animation-delay: 2s;
}
.background li:nth-child(4) {
  left: 25%;
  width: 45px;
  height: 45px;
  bottom: -45px;
  animation-delay: 15s;
}
.background li:nth-child(5) {
  left: 77%;
  width: 59px;
  height: 59px;
  bottom: -59px;
  animation-delay: 5s;
}
.background li:nth-child(6) {
  left: 19%;
  width: 129px;
  height: 129px;
  bottom: -129px;
  animation-delay: 17s;
}
.background li:nth-child(7) {
  left: 30%;
  width: 109px;
  height: 109px;
  bottom: -109px;
  animation-delay: 16s;
}
.background li:nth-child(8) {
  left: 40%;
  width: 108px;
  height: 108px;
  bottom: -108px;
  animation-delay: 19s;
}
.background li:nth-child(9) {
  left: 48%;
  width: 98px;
  height: 98px;
  bottom: -98px;
  animation-delay: 27s;
}


/* -------------------------------------------------------------------------- */
/*                                  CAROUSEL                                  */
/* -------------------------------------------------------------------------- */
.carousel-container, #user-results{
  margin: auto;
  position: relative;
  width: 100%;
  overflow-y: visible; /* Hide the other slides */
}
#user-results{
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgb(255 255 255 / 20%);
  padding: 80px 20px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
}

#user-results > div:last-of-type{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#user-results > div:last-of-type img{
  object-fit: fill;
  width: 50%;
}
.carousel {
  display: flex;
  transition: transform 0.4s ease-in-out;
  /* width: 300%;  *//* Adjust width based on the number of slides */
}

.form-step {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  min-width: 100%; /* Each slide takes up 100% of the container width */
  padding: 20px;
  gap: 20px;
}
.wrapper-btn{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.nav-btn{
  border: none;
  background: #05668dd3;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5em;
  cursor: pointer;
}
.message{
  background: #f0f3bd93;
  height: fit-content;
  max-width: 500px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  bottom: -10%;
  transform: translate(-50%, 10%);
  padding: 10px;
  text-align: center;
}

.select{
  background: rgb( 255 255 255 / 0.8)
}
/* button {
  margin-top: 20px;
} */

#core-tree{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}